/* ------------------------------------------------------------ *\
	Article
\* ------------------------------------------------------------ */

.article {
	display: flex; 
	flex-direction: column;

	&.article--reversed {
		flex-direction: column-reverse;
	}

	a {
		text-decoration: none; 
	}

	.article__image {
		width: 100%;
		overflow: hidden;
		aspect-ratio: 1 / .19;

		@include breakpoint-down(small-desktop) {
			aspect-ratio: 1 / .21;
		}

		@include breakpoint-down(tablet) {
			aspect-ratio: 1 / .3;
		}

		@include breakpoint-down(mobile-medium) {
			aspect-ratio: 1 / .63;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.article__image--large {
		aspect-ratio: 1 / .31;

		@include breakpoint-down(small-desktop) {
			aspect-ratio: 1 / .335;				
		}

		@include breakpoint-down(tablet) {
			aspect-ratio: 1 / .48;				
		}

		@include breakpoint-down(mobile) {
			aspect-ratio: 1 / .63;
		}
	}

	.article__image--small {
		aspect-ratio: 1 / .24;
	}

	.article__title {
		border-bottom: 2px solid $c-black;
	}

	.article__title a {
		display: flex; 
		align-items: center;
		justify-content: space-between;
		padding: 1.2rem 0 .6rem;
		position: relative; 
		transition: color .3s;

		@include breakpoint-down(mobile-medium) {
			align-items: flex-start;
		}

		&:hover {
			color: $c-lightgreen;
		}
	}

	.article__title a > span {
		display: block; 
		position: absolute; 
		top: calc(100% - 2.6rem);
		right: 1.5rem;
		background-color: $c-lightgreen;
		color: $c-pink;
		text-transform: uppercase;
		font-weight: 700; 
		font-size: 1.2rem;
		line-height: 1.3; 
		width: 5rem;
		height: 5rem;
		border-radius: 50%; 
		display: flex; 
		align-items: center;
		justify-content: center;
		text-align: center; 
		transform: rotate(-12deg);

		@include breakpoint-down(mobile) {
			right: -.5rem;
		}
	}

	.article__title h2 {
		margin-bottom: 0; 
		padding-right: 1rem;

		@include breakpoint-down(mobile-medium) {
			word-wrap: break-word; 
			min-width: calc(100% - 2.8rem);
		}
	}

	.article__title img {

		@include breakpoint-down(mobile-medium) {
			margin-top: .5rem; 
		}
	}

	.article__title--pink a {

		&:hover {
			color: $c-pink;
		}
	}

	.article__title--purple a {

		&:hover {
			color: $c-purple;
		}
	}
}
