/* ------------------------------------------------------------ *\
	Block Marquee
\* ------------------------------------------------------------ */

.block-marquee {
	padding: 1.85rem 0;

	@include breakpoint-down(mobile) {
		padding: 1.55rem 0;
	}

	.block__text {
		padding: 0 1rem; 
	}

	.block__text p {
		margin-bottom: 0;
	}
}
