/* ------------------------------------------------------------ *\
	Button
\* ------------------------------------------------------------ */

.btn {
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	appearance: none;
	font-size: 2rem; 
	padding: .3rem;
	color: $c-black; 
	background-color: $c-white; 
	border: 2px solid $c-black;
	transition: color $t-duration, background-color $t-duration;

	&:hover {
		background-color: $c-black;
		color: $c-white;
	}
}

/*  Btn small  */

.btn--small {
	font-size: 1.6rem; 
}

/*  Btn red  */

.btn--red {
	border-color: $c-base;
	color: $c-base;

	&:hover {
		background-color: $c-base;
	}
}

/*  Btn block  */

.btn--block {
	display: block;
	padding-left: 0;
	padding-right: 0;
}
