/* ------------------------------------------------------------ *\
	Card Event
\* ------------------------------------------------------------ */

.card-event {
	padding-bottom: 1.2rem; 

	.card__tags {
		margin-bottom: .9rem; 
	}

	.card__tags ul {
		list-style-type: none; 
	}

	.card__tags li {
		padding: 0 .55rem;
		background-color: $c-black;
		color: $c-white;
		width: fit-content;
	}

	.card__tags li + li {
		background-color: $c-base; 
	}

	.card__time {
		margin-bottom: .4rem; 
		display: flex; 
		justify-content: space-between;
		font-size: 2rem;

		@include breakpoint-down(mobile-medium) {
			margin-bottom: .6rem; 
		} 
	}

	.card__time p {
		margin-bottom: 0; 
	}

	.card__wrapper {
		display: flex; 
		align-items: flex-start;
		margin-bottom: .3rem; 
	}

	.card__wrapper h2 {

		@include breakpoint-down(mobile-medium) {
			line-height: 1; 
		}
	}

	.card__lang {
		flex-shrink: 0;
		margin-top: .7rem; 
	}

	.card__lang ul {
		margin-top: .1rem; 
	}

	.card__lang ul li {
		padding: .3rem;
	}

	.card__title {
		padding-right: 1rem; 
		flex-grow: 1;

		@include breakpoint-down(mobile-medium) {
			margin-bottom: .6rem; 
		}
	}

	.card__content {
		max-width: 56.4rem;
		margin-bottom: 1rem;
	}

	.card__entry {
		display: flex;
		align-items: flex-end;
		margin-bottom: 1.6rem;  
	}

	.card__list {
		width: 23%;
		flex-shrink: 0;

		@include breakpoint-down(small-desktop) {
			width: 21%;
		}

		@include breakpoint-down(tablet) {
			width: 31%;
		}

		@include breakpoint-down(mobile) {
			flex-grow: 1;
			padding-right: 1rem; 
		}
	}

	.card__list ul {
		list-style-type: none; 
		font-size: 2rem; 
		position: relative; 

		&:before {
			content: '';
			display: block; 
			width: 1.3rem;
			height: 1.3rem;
			border: 2px solid $c-black;
			position: absolute; 
			top: .5rem;
			left: -2.2rem;
			border-radius: 50%;

			@include breakpoint-down(mobile-small) {
				width: 1rem;
				height: 1rem;
				left: -1.2rem;
				top: .8rem;
			}
		}
	}

	.card__info {
		margin-left: .2rem; 
		padding-bottom: .5rem; 
	}

	.card__info ul {
		list-style-type: none; 
		display: flex; 
		align-items: center;
		margin: 0 -1rem;
	}

	.card__info ul li {
		padding: 0 1rem;
	}
}
