/* ------------------------------------------------------------ *\
	Card Team
\* ------------------------------------------------------------ */

.card-team {
	height: 100%;
	display: flex; 
	flex-direction: column;

	.card__image {
		aspect-ratio: 1 / .7;
		width: 100%;
		overflow: hidden;
		position: relative;

		@include breakpoint-down(small-desktop) {
			aspect-ratio: 1 / .61;	
		} 

		@include breakpoint-down(tablet) {
			aspect-ratio: 1 / .58;	
		}

		@include breakpoint-down(mobile-medium) {
			aspect-ratio: 1 / .61;	
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.card__container {
		flex-grow: 1;
		padding: 1.2rem 3.6rem 1.4rem;
		border-bottom: 2px solid $c-black;
	}

	.card__title {
		margin-bottom: .7rem; 
		text-align: center; 
	}

	.card__wrapper h3 {
		text-transform: none; 
		font-weight: 400; 
		margin-bottom: .3rem; 
		font-family: $ff-sans-serif; 
	}

	.card__wrapper a {
		display: block; 
		text-decoration: none; 
	}

	.card__content { 
		display: grid;
		grid-template-rows: 0fr;
		transition: grid-template-rows $t-duration;
	} 

	.card__content.is-visible {
		grid-template-rows: 1fr;
	}

	.card__content * {
		overflow: hidden;
	}

	.card__actions {
		margin-top: .4rem; 
	}
}
