/* ------------------------------------------------------------ *\
	Checkbox
\* ------------------------------------------------------------ */

.checkbox {
	display: flex;
	align-items: center;

	input {
		appearance: none;
		-webkit-appearance: none;
		border: 2px solid $c-black;
		background-color: $c-white;
		width: 2rem;
		height: 2rem; 
		border-radius: 0;
		transition: background-color .3s;
	}

	input:checked {
		background-color: $c-black; 
	}

	label {
		margin-left: 1.3rem;
	}
}
