/* ------------------------------------------------------------ *\
	Duration Icon
\* ------------------------------------------------------------ */

.duration-icon {
	display: flex; 
	align-items: center;
	font-size: 1.2rem; 
	font-weight: 700; 

	img {
		margin-right: .6rem; 
	}
}
