/* ------------------------------------------------------------ *\
	Lang Switcher
\* ------------------------------------------------------------ */

.lang-switcher {
	display: flex; 	
	list-style-type: none; 
	text-transform: uppercase;
	grid-gap: 1.4rem;
	font-size: 2rem; 
	line-height: 1.20; 
	font-weight: 700; 
	font-family: $ff-sans-serif-alt;

	@include breakpoint-down(tablet) {
		grid-gap: 1rem;
	}

	a {
		text-decoration: none; 
		transition: color $t-duration;

		&:hover {
			color: $c-base;
		}
	}

	li.current-item a {
		color: $c-base;
	}
}
