/* ------------------------------------------------------------ *\
	List Filters
\* ------------------------------------------------------------ */

.list-filters {
	list-style-type: none; 
	display: flex; 
	margin: -.55rem;

	@include breakpoint-down(tablet) {
		flex-wrap: wrap;
	}

	li {
		padding: .55rem;
	}

	a {
		display: inline-block; 
		text-decoration: none; 
		padding: .3rem;
		font-size: 2rem; 
		border: 2px solid $c-black;
		background-color: $c-yellow; 
		transition: color $t-duration, background-color $t-duration;

		&:hover {
			color: $c-white;
		}
	}

	li.list__item-blue a {
		background-color: $c-blue;
		color: $c-white;

		&:hover {
			background-color: $c-black;
		}
	}

	li.list__item-black a {
		background-color: transparent; 

		&:hover {
			background-color: $c-black;
		}
	}
}
