/* ------------------------------------------------------------ *\
	List Lang
\* ------------------------------------------------------------ */

.list-lang {
	min-width: 7.2rem;
	list-style-type: none; 
	display: flex; 
	text-transform: uppercase; 
	font-weight: 700; 
	margin: -.3rem;
	background-image: url(./images/svg/lang-box.svg);
	background-size: cover; 
	background-repeat: no-repeat; 
	padding: .2rem .5rem .8rem 1.26rem;

	li {
		padding: .3rem;
	}
}

.list-lang--single {
	background-image: url(./images/svg/lang-box-single.svg);
	background-size: covern; 
	min-width: 4.15rem;
	padding: .3rem .6rem .8rem .6rem;
	display: flex; 
	justify-content: center;
	margin: 0;

	li {
		padding: 0;
	}
}
