/* ------------------------------------------------------------ *\
	Nav Footer
\* ------------------------------------------------------------ */

.nav-footer {

	a {
		text-decoration: none; 
		transition: color $t-duration;

		&:hover {
			color: $c-base;
		}
	}
}
