/* ------------------------------------------------------------ *\
	Section Content
\* ------------------------------------------------------------ */

.section-content {
	padding: 1rem 0 1.2rem;

	@include breakpoint-down(mobile-medium) {
		padding: .7rem 0 1.2rem;
	}

	.section__content {
		max-width: 80rem;

		@include breakpoint-down(tablet) {
			max-width: 72.8rem;
		}
	}

	.section__content ol {
		list-style-type: none; 
		counter-reset: li;
		margin-bottom: 2rem; 
	}

	.section__content ol li + li {
		margin-top: 1.9rem; 
	}

	.section__content ol h3,
	.section__content ol h4 {
		font-family: $ff-sans-serif;
		text-transform: none; 
		font-weight: 400; 
		margin-bottom: .5rem;
		position: relative; 
		width: fit-content;

		&:before {
			content: counter(li)'. ';
			counter-increment: li;
		}

		&:after {
			content: '';
			display: block; 
			width: 100%;
			position: absolute; 
			bottom: 2px;
			left: 0;
			height: .1rem;
			background-color: $c-black; 
		}
	}
}
