/* ------------------------------------------------------------ *\
	Section List
\* ------------------------------------------------------------ */

.section-list {
	border-top: 2px solid $c-black;

	.section__filters {
		padding: 1.9rem 0 1.4rem;

		@include breakpoint-down(mobile-medium) {
			padding: 1.9rem 0 1.1rem;
		}
	} 

	.section__entry {
		border-top: 2px solid $c-black;
		background-color: $c-yellow;
	}

	.section__entry--white {
		background-color: $c-white; 
	}

	.section__entry--blue {
		background-color: $c-blue;
		color: $c-white;
	}

	.section__entry--blue .card-event .card__list ul:before {
		border-color: $c-white;
	}

	.section__entry--blue .card-event .card__tags ul li {
		background-color: $c-white;
		color: $c-blue;
	}
}
