/* ------------------------------------------------------------ *\
	Slider Gallery
\* ------------------------------------------------------------ */

.slider-gallery {
	padding-bottom: 1rem;
	overflow: hidden; 

	.slider__clip {
		width: 65%;
		margin: 0;
		overflow: visible; 

		@include breakpoint-down(small-desktop) {
			width: 70%;
		}

		@include breakpoint-down(tablet) {
			width: 100%;
		}
	}

	.slider__slide a {
		position: relative; 
		display: block; 
		width: 100%;
	}

	.slider__image {
		aspect-ratio: 1 / 0.53;

		@include breakpoint-down(mobile-medium) {
			aspect-ratio: 1 / 0.64;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.slider__arrow {
		height: 3rem; 
		position: absolute; 
		top: 46%;
		transform: translateY(-50%);
		left: 1.7rem;
		z-index: 5;
		cursor: pointer;
		transition: opacity .3s;

		@include breakpoint-down(mobile-medium) {
			top: 44%;
		}

		&:hover {
			opacity: .7;
		}
	}

	.slider__arrow.swiper-button-disabled {
		pointer-events: none;
		opacity: .7;
		cursor: default;
	}

	.slider__arrow--prev {
		transform: translateY(-50%) rotate(180deg);
	}

	.slider__arrow--next {
		left: unset;
		right: 1.7rem;
	}

	.slider__paging {
		margin-top: 1.5rem; 
		font-size: 2rem; 
		font-weight: 700; 
		font-family: $ff-sans-serif-alt;
		text-align: center;  

		@include breakpoint-down(small-desktop) {
			margin-top: 1.3rem; 
		}
	}

	.slider__icon {
		position: absolute; 
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 5;
		transition: opacity .3s;
	}

	.slider__slide a:hover .slider__icon {
		opacity: .7;
	}
}
